services:
  - type: web
    name: MarianaSijaa-Portfolio
    env: node
    buildCommand: npm run build
    startCommand: npx serve -s build
    healthCheckPath: /
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
    routes:
      - type: rewrite
        source: /*
        destination: /index.html